*.ko
*.swp
*.annot
*.cmi
*.cmo
joujou
lexer.ml
test.ml
test/good/list.ml
test/good/pair.ml
test/others/pair.ml
imp_declaration.ml
record.ml
trans.ml
test/good/cast.ml
test/good/nat.ml
test/good/priorities.ml
test/good/priorities.out
test/good/loop_tt.ml
test/good/typeclass.ml
test/good/typeclass.out
test/others/loop_tt.ml
*.aux
*.dvi
*.log
*.pdf
*.snm
*.out
*.nav
*.toc
